

.container1 {
    max-width: 500px;
    margin: auto;
   background: radial-gradient(ellipse at top, #c876ce, transparent),
            radial-gradient(ellipse at bottom, #7be7ef, transparent);

    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(32, 30, 30);
}

.h21 {
    color: black;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: black;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.buttonc1 {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.buttonc1:hover {
    background-color: #0056b3;


}



/* Basic Reset */


.video-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%; /* Ensure it doesn't exceed viewport height */
  position: relative;
 
}

video {

  width: 70%;
  object-fit: cover; /* Cover the area while preserving aspect ratio */
  display: block;
  background-color: transparent;
  border: none; 
  display: block; /* Remove extra space below the video */

}


/* Ensure it behaves well on mobile */
@media (max-width: 600px) {
  .video-wrapper {
      max-height: 100%; /* Ensure the video fits within the viewport height on small screens */
  }
  video{
    height: 100%;
    width: 100%;
  }
}



@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, textarea, .buttonc1 {
        font-size: 14px;
    }
}