

.container1 {
    max-width: 500px;
    margin: auto;
   background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);

    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0px 0px 10px white;
}

.h21 {
    color: black;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: black;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.buttonc1 {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.buttonc1:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, textarea, .buttonc1 {
        font-size: 14px;
    }
}